.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.stats {
  margin-bottom: -150px;
}

.container {
  max-width: 970px;
}

.offense {
  font-size: 3.0em;
  color: #8e1515;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.defense {
  font-size: 3.0em;
  color:#2e238c;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sectiontitle {
  border-bottom: solid;
  border-width:  2px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.listModifiers {
  border-top: solid;
  border-width: 2px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 25px;
  margin-top: 25px;
  font-style: italic;

}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
